<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_LEVEL" value="DEBUG" />
    <if condition='"${spring.profiles.active}".equals("dev")'>
    <then>
        <property name="LOG_LEVEL" value="DEBUG" />
    </then>
    <else>
        <property name="LOG_LEVEL" value="INFO" />
    </else>
    </if>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--<layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger{36}.%M\(\) - %msg%n</Pattern>
        </layout>-->
        <encoder>
            <charset>UTF-8</charset>
            <pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) --- [ %thread{10} ] %cyan(%logger{20}) : %msg%n </pattern>
        </encoder>
    </appender>

    <if condition='"${spring.profiles.active}".equals("local")'>
    <then>
        <logger name="jdbc" level="OFF"/>
        <logger name="jdbc.sqlonly" level="OFF"/>
        <logger name="jdbc.sqltiming" level="INFO"/>
        <logger name="jdbc.audit" level="OFF"/>
        <logger name="jdbc.resultset" level="DEBUG"/>
        <logger name="jdbc.resultsettable" level="DEBUG"/>
        <logger name="jdbc.connection" level="OFF"/>
    </then>
    <else>
        <logger name="jdbc" level="OFF"/>
        <logger name="jdbc.sqlonly" level="OFF"/>
        <logger name="jdbc.sqltiming" level="INFO"/>
        <logger name="jdbc.audit" level="OFF"/>
        <logger name="jdbc.resultset" level="OFF"/>
        <logger name="jdbc.resultsettable" level="OFF"/>
        <logger name="jdbc.connection" level="OFF"/>
    </else>
    </if>

    <root level="${LOG_LEVEL}">
    <if condition='"${spring.profiles.active}".equals("dev")'>
        <then>
            <appender-ref ref="STDOUT" />
        </then>
        <else>
            <appender-ref ref="STDOUT" />
        </else>
    </if>
</root>


</configuration>
